.title-login {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.modal-login {
    width: 100vw !important;
    margin: auto !important;
    padding-top: 50px !important;
}

.form-login {
    width: 100% !important;
    border-radius: 5px;
    overflow: hidden;
    text-align: center !important;
}

.form-group {
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
}

.leaf2 {
    width: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.leaf3 {
    width: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.button-submit {
    width: 100%;
    height: 40px;
    font-weight: bold !important;
    background-color: #393939 !important;
    border: none !important;
    margin-bottom: 20px;
}

p {
    width: 100%;
    margin: 0px !important;
    color: grey;
    font-weight: normal;
    text-align: center;
    margin-right: 10px !important;
}

.btn-show-register {
    margin-left: 10px;
    color: grey !important;
    background-color: transparent;
    font-weight: bold;
    border: none;
}
